*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/deploymentTargetDropDown*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
database-debug.log
ui-debug.log
firebase-debug.log